---
# Configuration yamllint (compatible avec les règles attendues par ansible-lint)
extends: default

ignore: |
  .terraform/
  .lab/
  .kube/
  .vagrant/

rules:
  line-length:
    max: 160
    level: warning
  truthy:
    allowed-values: ["true", "false"]
    check-keys: false
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  document-start: disable
